h1 {
    color:#c62d42;
    text-align: center;
    font-size: 75px;
    background-color: #000040;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
    
    
    
    
}

body {
    background-color: #253f4b;
    margin: 0;
}

.white{
    color:white
}
